
@media (prefers-color-scheme: dark) {
body {
    color: white !important;
    background-color: #343a40 !important;
}
input {
    color: white;
    background-color: #282b2e !important;
    border: none;
    /* border: 1px solid white !important; */
}
.page-link {
    color: white !important;
    background-color: #282b2e !important;
}
.page-item.active .page-link {
    color: black !important;
    background-color: white !important;
    border-color: white !important;
}
}
.card.bg-dark.text-white {
  border: 1px solid white !important;
}
.list-group-item-dark {
  color: white !important;
  background-color: #343a40 !important;
  border: 1px solid white !important;
}

